<html>
    <head>
        <style>
            body {background-color: powderblue;}
            h1   {color: blue;}
            p    {color: red;}
            </style>
    </head>
    <title>Welcome page</title>

<body style="background-color:darkolivegreen">
    <img src="https://images.unsplash.com/photo-1568667256549-094345857637?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=415&q=80" width="100" height="100">
    <h1 style="color: darkmagenta;">Shabda Library</h1>
<hr>

<h3 style="font-size:30px;">Books are true friends....</h3>

<hr>

<p title="Wakad, Baner, Balewadi">We are serving at <br> 3 branches in Pune...</p>

<a href="https://shabdabooks.com/" >Click here to see our plans</a>

<pre>

Book Types available are:
1.Historical
2.Biography

</pre>

<table border="2px">
    <tr>
      <th>Sr No</th>
      <th>Book Name</th>
      <th>Book Author</th>
      <th>Is Published</th>
    </tr>
    <tr>
      <td>101</td>
      <td>I dare</td>
      <td>Kiran Bedi</td>
    </tr>
    <tr>
      <td>105</td>
      <td>2 States</td>
      <td>Chetan Bhagat</td>
    </tr>
</table>






</body>



</html>
